
*.log
*.jar
*.disabled
*.meta
.minecraft/.mixin.out/*
.minecraft/astralsorcery/*
.minecraft/betweenlands_gallery/*
.minecraft/BotaniaVars.dat
.minecraft/crash-reports/*
.minecraft/llibrary/*
.minecraft/local/*
.minecraft/logs/*
.minecraft/screenshots/*
.minecraft/saves/*
.minecraft/icon.png
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/patchouli_data.json
.minecraft/resources/pack.mcmeta
natives/*
instance.cfg
mmc-pack.json
.minecraft/textures_0.png
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/config/vanillafix/config_version
.minecraft/config/vanillafix/methods-stable_39.csv
.minecraft/config/waitingtimestats.json
.minecraft/config/splash.properties
.minecraft/config/jei/worldSettings.cfg
.minecraft/config/InvTweaks.cfg
.minecraft/config/AppliedEnergistics2/VersionChecker.cfg

