# Configuration file

config_moreplanets_dimensions {
    I:"Diona Dimension ID"=-2542
    I:"Chalos Dimension ID"=-2543
    I:"Nibiru Dimension ID"=-2544
    I:"Fronos Dimension ID"=-2545
}


config_moreplanets_gc_addon_compat {
    B:"Enable Tier 4 Rocket Schematic"=true
    B:"Enable Tier 5 Rocket Schematic"=true
    B:"Enable Tier 6 Rocket Schematic"=true
    B:"Enable Tier 4 Rocket Recipe"=true
    B:"Enable Tier 5 Rocket Recipe"=true
    B:"Enable Tier 6 Rocket Recipe"=true
}


config_moreplanets_general {
    # Put planet name that you would like to spawn (Also you need to enable started planet in the config). For example "planet.nibiru", "moon.moon", "satellite.spacestation.overworld" 
    S:"Planet to Start"=planet.
    B:"Enable Started Planet"=false
    B:"Enable Night Vision Effect while boss fight"=false
    B:"Enable Black Hole Explosion"=true
    B:"Use 3D Item Model for Torch"=true
    B:"Enable Debug Logging"=false
    B:"Enable Version Checker"=true
    B:"Enable Change Log in Game"=true
    I:"Network Handler ID"=2542
}


config_moreplanets_others {
    I:"Tier 4 Rocket Schematic ID"=800
    I:"Base Schematic ID"=850
    I:"Tier 4 Rocket Schematic GUI ID"=500
    I:"Base Schematic GUI ID"=550
    B:"Enable Description in Waila Tooltip"=true
}


general {

    moreplanets_general {
        B:"Enable Black Hole Explosion"=true
        B:"Enable Debug Logging"=false
        B:"Enable Night Vision Effect while boss fight"=false
        B:"Enable Survival Planet Selection"=false
        B:"Enable Version Checker"=true
        B:"Use 3D Item Model for Torch"=true
        B:"Use Colored Star in the Sky"=true
        B:"Use Fancy Star in the Sky"=true
    }

    moreplanets_dimension {
        I:"Chalos Dimension ID"=-2543
        I:"Diona Dimension ID"=-2542
        I:"Fronos Dimension ID"=-2545
        I:"Koentus Dimension ID"=-2642
        I:"Nibiru Dimension ID"=-2544
        I:"Space Nether Dimension ID"=-2541
    }

    moreplanets_planet_settings {
        I:"Chalos Planet Tier"=3
        I:"Diona Planet Tier"=3
        I:"Nibiru Planet Tier"=3
    }

    moreplanets_moon_settings {
        I:"Koentus Moon Tier"=3
    }

    moreplanets_world_gen_settings {
        B:"Disable All Common Ore Gen on all planets"=false
        B:"Disable Common Ore on Chalos"=false
        B:"Disable Common Ore on Diona"=false
        B:"Disable Common Ore on Nibiru"=false
    }

    moreplanets_other {
        I:"Base Schematic GUI ID"=550
        I:"Base Schematic ID"=850
        B:"Enable Description in Waila Tooltip"=false
    }

}


