# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way JEI functions.
##########################################################################################################

advanced {
    S:itemBlacklist <
        enderio:block_cap_bank:1
        enderio:item_alloy_ingot:0
     >
}


